[submodule "src/sharpy"]
	path = src/sharpy
	url = http://github.com/imperialcollegelondon/sharpy
[submodule "src/model-hale"]
	path = src/model-hale
	url = http://github.com/ngoiz/model-hale/
[submodule "src/analysis"]
	path = src/analysis
	url = http://github.com/ngoiz/sharpy-analysis-tools
